.content{
    display: block;
    margin: 0% auto;
    text-align: center;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
}

.day{
    padding: 10px;
}

.week{
    padding: 10px;
}

.row .col {
    transition: 0.2ms;
}

.row .col:hover{
    color: #fff;
    background: lightblue;
}